
.signup-modal {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  align-items: center;
}


.signup-modal h2 {
  margin-bottom: 10px;
}

.signup-modal input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
